@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'variables';
@import 'utility';
@import 'item_grid';
@import 'swiper';
@import 'contact';
@import 'footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#home {
  .container {
    max-width: $website-width;
    margin: auto;

    .tel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      font-weight: 300;

      a {
        text-decoration: none;
        color: $grey;
      }
    }

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $green;
      font-size: 1.7rem;
    }

    .main-nav {
      z-index: 11;

      ul {
        height: 80px;
        width: 600px;
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
          cursor: pointer;
          padding: 5px 10px;
          border-radius: 2px;
          transition: all 0.2s ease;

          &:hover {
            background-color: $green;
            color: $background-color;
          }
        }
      }
    }

    .background {
      background: $bg-image no-repeat center right / cover;
      height: 80vh;
      color: #fff;
    }
  }
}

#about {
  .container {
    max-width: $about-width;
    margin: auto;

    h2 {
      text-align: center;
      color: $green;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      color: $grey;

      .tekton {
        text-decoration: none;
        color: $green;
        font-weight: 600;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: #d3ae87;
        }
      }
    }
  }
}

@import 'responsive';
